.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: black;
color: white;
margin-left: 10px;
}

.Tabs{
  background-color: blanchedalmond;
  padding: 20px;
}
.Dropdown{
  margin-left: 880px;
}
/* .Dropdown{
  background-color: black;
  margin-left: 900px ;
  border-radius: 5px;
  font-style: white;
} */